body {
  font-family: "Open Sans", sans-serif;
}

header, .about2 {
  background-color: rgb(125, 113, 211);
}

.h-80px {
  height: 80px;
}

header img {
  width: 153px;
  height: 38px;
}

.nav-link {
  font-size: 12px;
  padding: 8px 15px;
  background-color: unset !important;
  color: white !important;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.bg-1 {
  background-image: url(http://demo.themefisher.com/themefisher/lifetrakr/images/backgrounds/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 0 145px;
}

h5 {
  font-size: 20px;
}

.h1-big {
  margin-bottom: 30px;
  line-height: 90px;
  font-weight: 500;
  letter-spacing: .06em;
  font-size: 60px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mr-18 {
  margin-right: 18px;
}

.bg-2 {
  background-image: url(http://demo.themefisher.com/themefisher/lifetrakr/images/backgrounds/elipse-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.purple {
  color: rgba(169, 161, 219);
}

.about1 {
  background-color: rgba(255, 255, 255);
}

.about1 h5 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #5e5e5e;
}

.about1 p {
  color: #999999;
}

.about1 p, .about2 p {
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 0;
  line-height: 30px;
}

.p-30px {
  padding: 30px;
}

.ml-30px {
  margin-left: 30px;
}

.about2 {
  color: white;
}

.mb-30px {
  margin-bottom: 30px;
}

.text-center h2 {
  color: #5e5e5e;
  font-size: 48px;
  font-weight: 200 !important;
  margin-bottom: 30px;
}

.text-center p {
  color: #999999;
}

.feature p {
  width: 70%;
  font-size: 16px;
  line-height: 30px;
  color: #999999;
  margin: 0 auto;
}

.bg-elipse {
  background-image: url(http://demo.themefisher.com/themefisher/lifetrakr/images/backgrounds/elipse-bg-three.png);
  background-position: center;
}

.feature h5 {
  color: #5e5e5e;
  font-weight: 600;
  margin-bottom: 15px;
}

.mb-25px {
  margin-bottom: 25px;
}

.mb-80 {
  margin-bottom: 80px;
}

.m-tb-40 {
  margin: 40px 0;
}

.text-right p {
  text-align: right;
}
